@charset "utf-8";
/*--------------------------------------公共属性------------------------------------*/
html,
body,
div,
p,
dl,
dt,
dd,
ul,
ol,
li,
table,
tr,
th,
td,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
img,
form,
fieldset,
input,
textarea,
p,
blockquote {
  margin: 0px;
  padding: 0px;
  border: 0;
  outline: none;
}
.fll {
  float: left;
}
.flr {
  float: right;
}
.posr {
  position: relative;
}
.posa {
  position: absolute;
}
.posf {
  position: fixed;
}
.ma {
  margin: 0 auto;
}
.clearfix {
  clear: both;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.paddnone {
  padding: 0;
}
.bornone {
  border: none;
}
/*文字水平居中*/
/*文字水平居左*/
/*文字水平居右*/
.onetxt {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
i {
  font-style: normal;
}
em {
  font-style: normal;
}
.img {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
table {
  border-spacing: 0;
}
.checkbox {
  width: 1.4rem;
  height: 1.2rem;
  display: block;
  background: url(../images/icon/checkbox1.png) left center no-repeat;
  background-size: 1.4rem 1.2rem;
}
.checkbox.active {
  background: url(../images/icon/checkbox2.png) left center no-repeat;
  background-size: 1.4rem 1.2rem;
}
/*-------------------------------------------------------------------------------------*/
a {
  color: #000;
}
.header {
  background-color: #656ab2;
}
.header .title {
  color: #fff;
}
.header .icon {
  color: #fff;
  vertical-align: middle;
  margin-top: -0.1rem;
  line-height: 2.2rem;
}
.header .button-link {
  color: #fff;
  font-size: .7rem;
}
.header .button-link.pull-right {
  margin-right: 0;
}
.section {
  overflow: hidden;
}
.common {
  overflow: hidden;
  width: 15rem;
  margin: .5rem auto;
}
.common img {
  display: block;
  margin: 0 auto;
}
.one-10 {
  width: 5rem;
}
.one-11 {
  width: 5.5rem;
}
.one-12 {
  width: 6rem;
}
.one-13 {
  width: 6.5rem;
}
.one-14 {
  width: 7rem;
}
.one-15 {
  width: 7.5rem;
}
.one-16 {
  width: 8rem;
}
.one-17 {
  width: 8.5rem;
}
.one-18 {
  width: 9rem;
}
.one-19 {
  width: 9.5rem;
}
.img-6 {
  width: 6rem;
}
.img-9 {
  width: 9rem;
  margin: 0 auto;
}
.img-12 {
  width: 12rem;
}
.img-13 {
  width: 13rem;
}
.green-zt {
  color: #7bd04e;
}
.red-zt {
  color: #fe2828;
}
.content-img {
  width: 100%;
  display: block;
  margin: 1rem auto;
}
.center-zt {
  text-align: center;
}
.indent-zt {
  text-indent: 2em;
}
.border-top {
  border-top: 1px solid #ccc;
}
.border-bottom {
  border-bottom: 1px solid #ccc;
}
.border {
  border: 1px solid #ccc;
}
.white-bg {
  background-color: #fff;
}
.small-zt {
  font-size: .7rem;
}
.spuer-small-zt {
  font-size: .6rem !important;
}
.plan {
  overflow: hidden;
}
.plan li {
  width: 7.45rem;
  height: 3.5rem;
  float: left;
  border-right: .1px solid #cccccc;
  border-bottom: .1px solid #cccccc;
}
.plan li:nth-child(2n+2) {
  border-right: 0;
}
.plan li:nth-last-child(1),
.plan li:nth-last-child(2) {
  border-bottom: 0;
}
.plan li a {
  width: 100%;
  height: 100%;
  display: block;
}
.plan li .left {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  display: block;
  float: left;
  margin: .65rem .5rem;
}
.plan li .right {
  width: 2.4rem;
  line-height: 1rem;
  float: right;
  font-size: .6rem;
  margin: .75rem .8rem;
}
.plan li .right.last {
  margin: 1.25rem .8rem;
}
.server-item a {
  display: block;
  height: 4.4rem;
  position: relative;
}
.server-item a img {
  width: 100%;
  height: 100%;
}
.server-item a p {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-indent: .5rem;
  width: 100%;
  font-size: .6rem;
}
.header-pic {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  border: 2px solid #fff;
}
.list-block a {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.list-block .code {
  font-size: 1rem;
}
.tool a {
  text-align: center;
  width: 4rem;
  height: 5.5rem;
  display: block;
  margin: .8rem auto 0;
}
.tool a img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.tool a span {
  font-size: .6rem;
}
.tool a.margin {
  margin: 2rem auto;
}
.tool.active img {
  border: 1px solid #7cd14f;
}
.tool.big a {
  width: 6rem;
  height: 8.25rem;
}
.tool.big a img {
  width: 6rem;
  height: 6rem;
}
.guide {
  width: 15rem;
  padding: 1rem 1.25rem;
  line-height: 1.2rem;
  font-size: .6rem;
  background-color: #fff;
  border-radius: .7rem;
  min-height: 5rem;
}
.guide img {
  width: 10rem;
  display: block;
  margin: .5rem auto;
}
.btn {
  display: block;
  width: 13rem;
  height: 1.6rem;
  font-size: .6rem;
  text-align: center;
  line-height: 1.6rem;
  border-radius: .7rem;
  margin: 1rem auto 0;
  background-color: #fff;
}
.btn.green {
  background-color: #7cd14f;
  color: #fff;
}
.btn.green-white {
  border: 1px solid #7cd14f;
  color: #7cd14f;
  background-color: #fff;
}
.btn.orange {
  background-color: #f3b50f;
  color: #fff;
}
.btn.gray {
  background-color: #b6b5b5;
  color: #fff;
}
.btn.active {
  border: 1px solid #7cd14f;
  color: #7cd14f;
  background-color: #fff;
}
.remind {
  height: 2rem;
  line-height: 2rem;
  color: #fff;
  background-color: #7cd14f;
  text-indent: .5rem;
  font-size: .7rem;
}
.info-list {
  font-size: .6rem;
  line-height: 1rem;
  width: 15rem;
  margin: 0 auto;
}
.info-list li {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  padding: .5rem 0;
}
.info-list li:last-child {
  border-bottom: 0;
}
.info-list a {
  float: right;
  color: #7cd14f;
}
.from {
  border-radius: .7rem;
  overflow: hidden;
  margin: 1rem 0;
}
.becareful {
  width: 15rem;
  height: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: .7rem;
  position: absolute;
  bottom: 2rem;
  left: .5rem;
  font-size: .7rem;
}
.question {
  width: 15rem;
  padding: .5rem;
  line-height: 1.2rem;
  font-size: .6rem;
  background-color: #fff;
  border-radius: .7rem;
  min-height: 6rem;
}
.user-info {
  width: 100%;
  text-align: center;
  color: #fff;
  background: #656ab2;
  overflow: hidden;
}
.user-info .head-pic {
  width: 3.5rem;
  height: 3.5rem;
  display: block;
  margin: 0 auto;
}
.user-info .common {
  margin: 2rem auto;
}
